// Cards
// TODO - UPDATE WITH SCSS VARIABLES

// Functions
@import "functions";

// Variables
@import "variables"; 

.d-cards {
  padding: 0;
  //max-width: 66.25rem;
  //margin-left: auto;
  //margin-right: auto;
  //padding-left: 10px;
  //padding-right: 10px;

  .d-cards-list {
    display: flex;
    flex: 0 0 auto !important;
    //justify-content: space-between;
    flex-wrap: wrap;

    &:first-child {
      @media (min-width: 768px) {
        padding-right: 10px;
      }
    }
    &:last-child {
      @media (min-width: 768px) {
        padding-left: 10px;
      }
    }
    .d-single-card {
      //width: 49%;
      width: 100%;
      display: flex;
      flex-direction: column;
      position: relative;
      background: no-repeat center;
      background-size: cover;
      padding: 45px 75px 30px 75px;
      min-height: 660px;
      border-radius: 40px;
      margin-bottom: 25px;
      overflow: hidden;

      .d-card-tag {
        position: absolute;
        top: 19px;
        right: 27px;
        float: none;
        padding: 0;
      }
      .d-single-card-content {
        position: relative;

        .d-card-heading {
          font-size: 54px;
          line-height: 1.15;
          font-weight: 700;
          color: #1C1C1B;
          margin-bottom: 25px;
          font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
        .d-card-img-1 {
          max-width: 80%;
          margin: auto;
          text-align: center;

          img {
            max-width: 100%;
          }
        }
        .d-card-logos {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: space-between;
          img {
            width: 46%;
            //height: 30px;
            object-fit: contain;
            object-position: left;
            margin-bottom: 25px;
          }
        }
      }
      .d-card-bottom {
        position: relative;
        margin-top: auto;
        text-align: center;
      }
      .d-card-button {
        font-size: 16px;
        text-transform:uppercase;
        font-weight: 700;
        color: #1C1C1B;
        border: 2px solid #1C1C1B;
        padding: 5px 20px;
        border-radius: 40px;
        display: inline-block;
        text-align: center;
        font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
        transition-timing-function: ease-in-out;
        //transition-property: background-color, border-color, color;
        //transition-duration: 250ms;
        &:hover {
          color: #fff;
          background: #1C1C1B;
        }
      }

      &--content-white {
        .d-single-card-content {
          .d-card-heading {
            color: #fff;
          }
        }
        .d-card-button {
          color: #fff;
          border-color: #fff;
          &:hover {
            color: #1C1C1B;
            background: #fff;
          }
        }
      }
      &--bg-img {
        &:before {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background: linear-gradient(180deg, rgba(0, 0, 0, .36) 0%, transparent 100%);
        }
      }

      @media (max-width: 991px) {
        padding-right: 35px;
        padding-left: 35px;
      }
      @media (max-width: 767px) {
        width: 100%;
      }
    }

    .c-block-05__content {
      @media (min-width: $breakpoint-md) {
        max-width: rem-size(495px);
      }
    }
  }
  .c-block-05 {
    margin-top: 0;
    margin-bottom: 0;
    .c-block-05__row {
      padding: 0;
    }
  }
  .c-block-05__row {
    &:last-of-type {
      .d-single-card {
        margin-bottom: 0;
      }
    }

    @media (max-width: 767px) {

        .c-block-05__col {
            padding-bottom: rem-size(20px) !important;
        }

        .d-single-card {
            margin-bottom: 0;
        }
    }
  }
}

.display-after-font {
  display: none;
}

.tag-svg-white {
  font-family: 'Roboto Condensed', sans-serif;
  border-radius: 2px;
  position: relative;

  text {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 13px;
  }
}
.svg-transparent-tag-placeholder {
  visibility: hidden;
  opacity: 0;
  white-space: nowrap;
}