@media all and (min-width:1000px) {
    /* Navbar */

    .navbar-inner {
        box-shadow: none;
        border: none;
    }

    .navbar-inner .brand {
        margin-top: 14px;
        display: block;
    }

    .navbar .nav > li {
        float: left;
    }

    .navbar .nav > li > a:hover,
    .navbar .nav > li > a:active,
    .navbar .nav > li > a:focus,
    .navbar .nav > li > a.active,
    .navbar .nav > .active > a,
    .navbar .nav > .active > a:hover,
    .navbar .nav > .active > a:focus,
    .active-menu {
        background: #a1a1a1 !important;
        color: #fff !important;
    }

    .navbar .nav > li > a {
        float: none;
        text-decoration: none;
        text-shadow: none;
    }

    .dropdown-menu > li {
        /* position: relative; */
        -webkit-user-select: none;
        /* Chrome/Safari */
        -moz-user-select: none;
        /* Firefox */
        -ms-user-select: none;
        /* IE10+ */
        /* Rules below not implemented in browsers yet */
        -o-user-select: none;
        user-select: none;
        cursor: pointer;
        list-style: none;
        padding: 7px 0px;
        margin: 0 2rem;
        width: fit-content;
    }
    .dropdown-menu > li.twolevel
    {
       padding: 7px 2rem 7px 0;
        margin: 0 0 0 2rem; 
        width: auto;
    }

    .dropdown-menu > li > a {
        display: flex;
        align-items: center;
        font-size: 1rem;
        clear: both;
        white-space: nowrap;
        font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #1c1c1b;
        font-weight: bold;
        text-transform: uppercase;

        white-space: nowrap;
        width: fit-content;
        line-height: calc(24/18);
    }

    .dropdown-menu > li > a span.border,
    .dropdown-menu.thirdlevel > li > a {
        background-image: linear-gradient(#333, #333);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 3px;
        padding: 0.25rem 0;
        transition: background .3s;
        line-height: 1;
    }

    .dropdown-menu > li:hover > a span.border,
    .dropdown-menu.thirdlevel > li:hover > a {
        background-size: 100% 3px;
    }


    .c-nav__link::after,
    .c-nav__link.active:after {
        transform: rotate(90deg);
        margin: 0 0 0 9px;
        transition: hover .3s;
        width: 6px;
        height: 11px;
        display: inline-block;
        line-height: 1em;
        vertical-align: middle;
        margin-bottom: 3px;
        content: '';
        visibility: hidden;
        background-image: url(../../assets/img/arrow-right-white_new.svg);
        background-repeat: no-repeat;
        background-size: contain;
        position: relative;
        border: none;
        top: 0;
    }

    .dropdown:hover .c-nav__link::after {
        visibility: visible;
    }


    .c-nav__item:hover .c-nav__text {
        background-size: 100% 3px;
    }

    .nav > li > a,
    .nav > li {
        position: relative;
    }

    .dropdown-menu {
        position: absolute;
        border: none;
        padding: 1.3rem 0rem;
        z-index: 9;
    }

    .dropdown .firstlevel {
        position: absolute;
        box-shadow: rgb(0 0 0 / 12%) 0px 4px 64px;
        border: none;
        z-index: 9;
        background-color: white;
        border-radius: 8px;
        top: 100%;
        opacity: 0;
        visibility: hidden;
        transform: scale(0.8) translateZ(0px) translateX(-9px);
        transition: all .2s ease-in-out 0s;
    }

    .c-nav__item {
        justify-content: center;
    }

    .c-nav__item {
        padding: 0;
        margin: 0 1em;
    }

    .c-nav__item:hover .firstlevel {
        opacity: 1;
        visibility: visible;
        transform: scale(1) translateZ(0px) translateX(-9px);
        transition: all 0.2s ease-in-out 0s;
    }

    .features_item .firstlevel {
        transform: scale(0.8) translateZ(0px) translateX(5px);
    }

    .features_item.c-nav__item:hover .firstlevel {
        transform: scale(1) translateZ(0px) translateX(5px);
    }

    .dropdown .thirdlevel {
        opacity: 0;
        transition: all .2s ease-in-out 0s;
        position: absolute;
        left: 100%;
        top: 0;
        list-style: none;
        color: rgb(0, 45, 89);
        background-color: #f5f5f5;
        visibility: hidden;
        box-shadow: rgba(0, 0, 0, 0.12) 9px 5px 24px;
        border-radius: 8px;
    }

    .twolevel:hover .sub-menu.thirdlevel {
        opacity: 1;
        visibility: visible;
        transition: all 0.2s ease-in-out 0s;
    }

    .twolevel-item::after {
        width: 6px;
        height: 11px;
        display: inline-block;
        line-height: 1em;
        vertical-align: middle;
        filter: invert(1);
        content: '';
        visibility: hidden;
        background-image: url(../../assets/img/arrow-right-white_new.svg);
        background-repeat: no-repeat;
        background-size: contain;
        margin-left: 7px;
        margin-bottom: 5px;
    }

    .twolevel:hover .twolevel-item::after {
        visibility: visible;
    }



    .dropdown .firstlevel.sub-menu-clm-three {
        width: 700px;
        -webkit-columns: 3;
        -moz-columns: 3;
        columns: 3;
        padding: 1.3rem 2rem;
    }

    .dropdown .firstlevel.sub-menu-clm-three li {
         width: auto;
        list-style: none;
        padding: 8px 0;
        margin: 0;
    }

    .dropdown .firstlevel.sub-menu-clm-three li a {
        display: flex;
        align-items: center;
        font-size: 1rem;
        clear: both;
        white-space: nowrap;
        font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #1c1c1b;
        font-weight: bold;
        text-transform: uppercase;


        white-space: nowrap;
        width: fit-content;
        line-height: calc(24/18);
    }

    .dropdown .firstlevel.sub-menu-clm-three li a span.border {
        padding: 0.25rem 0;
        background-image: linear-gradient(#333, #333);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 3px;
        transition: background .3s;
    }

    .dropdown .firstlevel.sub-menu-clm-three li a:hover span.border {
        background-size: 100% 3px;
    }


    .firstlevel::after {
        content: "";
        width: 14px;
        height: 14px;
        border-radius: 2px 0 0 0;
        background-color: white;
        position: absolute;
        top: -5px;
        left: 47%;
        transform: rotate(45deg);
    }

    .c-head.c-head--subnav {
        color: #fff;
        background: #112A3F;
        top: 0;
        right: 0;
        left: 0;
        z-index: 650;
    }

    .c-head--subnav:before {
        display: none;
    }

    .c-head--subnav .c-nav__text {
        background-image: linear-gradient(#fff, #fff);
        background-size: 0% 3px;
        color: white;
    }

    .c-nav .c-nav__link.active .c-nav__text {
        background-image: linear-gradient(#fff, #fff);
        background-size: 0% 3px;
        color: white;
    }

    .c-head--subnav .c-nav__link:hover .c-nav__text {
        background-size: 100% 3px;
    }

    .c-nav__item:hover .c-nav__link.active .c-nav__text {
        background-size: 100% 3px;
    }

    .c-head--subnav .c-logo__img {
        display: block;
    }

    .c-head--subnav .c-logo__img--alt {
        display: none;
    }

    .c-head--subnav .c-nav__link--search:after {
        background: url(https://unilyweb2020dev.azureedge.net/media/zjmlsevn/search-white.svg) no-repeat;
    }

    .dropdown-menu .twolevel-item img {
        max-width: 100%;
        width: auto;
        max-height: 100%;
    }

    .dropdown-menu .twolevel-item img.unily-icon {
        margin: 0 0 3px;
    }

    .dropdown-menu .twolevel-item .img_box {
        width: 18px;
        height: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 7px 0 0;
        padding: 0;
    }

}






/*mobile resize*/



@media screen and (max-width:768px) {
    .navbar-nav {
        margin-top: 15px;
    }

    .navbar .nav > li {
        width: 100% !important;
        height: 55px !important;
        border-top: 1px solid #ddd;
        background: #fff !important;
    }

    #main-menu {
        width: 100%;
        padding-left: 0px !important;
        margin-right: -7px !important;
    }

    .dropdown-menu {
        display: none;
    }
}

@media all and (max-width:991px) {

    .navbar .nav > li > .dropdown-menu {
        display: none !important;
    }

    .dropdown .firstlevel,
    .dropdown .thirdlevel {
        display: none;
    }
}

@media all and (max-width:999px) {
    .c-nav__item img.arrow_icon {
        display: none;
    }

}
