/*
.medium_width__low_content {
    max-width: 1016px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 0;
}

.max_width_content {
    max-width: 1920px;
    margin: 0 auto;
}

.c-block-client--video {
    max-height: 840px;
}

.c-foot-nav__row {
    margin: 0;
}

.c-foot .c-foot-nav__col:first-of-type {
    padding: 0rem 0.625rem 0 0;
}

.c-foot .wrap-unwrap:last-of-type .c-foot-nav__col {
    padding: 0rem 0 0 0.625rem;
    width: fit-content;
}

.c-foot .wrap-unwrap:last-of-type div,
.c-foot .wrap-unwrap:last-of-type li,
.c-foot .wrap-unwrap:last-of-type a {
    width: auto;
}

.c-block-05__media--width-md img,
.c-block-home__img {
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.12));
}

.c-guide__media {
    width: 31.125rem;
    padding-right: 3rem;
}

.c-guide__media .img {
    width: 100%;
}

.c-guide__content {
    padding-left: 3rem;
}

.c-guide {
    max-width: 1016px;
}

.c-guide__content > * {
    margin-right: 0;
}
*/

.c-guide__media {
    margin-top: 0;
    padding-right: 20px;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    margin-bottom: 1.875rem;
    position: relative;
    z-index: 1;
}

@media (min-width: 768px) {
    .c-guide__content {
        align-self: center;
        padding-left: 20px;
    }

    .c-guide {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        max-width: 1016px;
        position: relative;
        /*        max-width: 60rem;*/
    }

    .d-cards .d-cards-list .c-block-05__content {
        /*    max-width: 30.9375rem;*/
        max-width: 498px;
    }

    .c-guide::before {
        content: '';
        width: 300px;
        height: 300px;
        position: absolute;
        border-radius: 50%;
        background-color: #3ec8ed;
        z-index: 0;
        top: 20px;
    }
    .c-guide::after {
        content: '';
        width: 100px;
        height: 100px;
        position: absolute;
        border-radius: 50%;
        background-color: #3ec8ed;
        z-index: 0;
        top: 60%;
    }
}


@media all and (max-width: 767px) {
    .d-cards .c-block-05__row .c-block-05__col
    {
        justify-content: center;
    }
    /*
    .d-cards .d-cards-list .c-block-05__content {
        max-width: 31.125rem;
    }

    .c-clients__header {
        max-width: 1016px;
    }

    .c-block-05__col:first-child,
    .c-block-05--alt .c-block-05__row .c-block-05__col:last-child {
        padding-right: 3rem;
    }

    .c-block-05__col:last-child,
    .c-block-05--alt .c-block-05__row .c-block-05__col:first-child {
        padding-left: 3rem;
    }

    .d-cards .d-cards-list .d-single-card {
        margin-bottom: 20px;
    }
*/
}
